{{ include('GreibitBioBundle:Default:top_of_table.html.twig', {"header" : "Experience"}) }}

<thead>
<tr>
    <th>Company</th>
    <th>Work</th>
    <th>Project</th>
</tr>
</thead>
<tbody>
{% for t in experiences %}
    <tr class="experience-line">
        <td>
            {% if t.company != null %}
                {{ t.company.name }}
            {% endif %}
        </td>
        <td>{{ t.work }}</td>
        <td>{{ t.project }}</td>
        {% if app.user == user %}
            <td>
                <a class="edit-link edit-experience" data-id="{{ t.id }}" href="{{ path('private_user_experience_edit', {'id': t.id }) }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="delete-link delete-experience" data-id="{{ t.id }}" data-entity="experience" href="{{ path('private_user_experience_delete', {'id': t.id }) }}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        {% endif %}
    </tr>
{% endfor %}
<tr>

</tr>
</tbody>

{{ include('GreibitBioBundle:Default:bottom_of_table.html.twig') }}

