<div class="form-group">
    {{ form_label(form.company) }}
    {{ form_widget(form.company) }}
    <script>
        $(".autocomplete").typeahead({
            name: 'countries',
            limit: 10,
            local: Routing.generate('api_company_get_companies')
        });
    </script>
</div>
<div class="form-group">
    {{ form_label(form.work) }}
    {{ form_widget(form.work, {'attr': {'class': 'form-control col-md-12'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.project) }}
    {{ form_widget(form.project, {'attr': {'class': 'form-control col-md-12'}}) }}
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            {{ form_label(form.startDate) }}
            {{ form_widget(form.startDate) }}
        </div>
        <div class="col-md-6">
            {{ form_label(form.finishDate) }}
            {{ form_widget(form.finishDate) }}
        </div>
    </div>
</div>
{{ form_rest(form) }}