{{ include('GreibitBioBundle:Default:top_of_table.html.twig', {"header" : "Language"}) }}

<thead>
<tr>
    <th>Título</th>
</tr>
</thead>
<tbody>
{% for t in languages %}
    <tr class="language-line">
        <td>{{ t.name }}</td>
        {% if app.user == user %}
        <td>
            <a class="edit-link edit-language" data-id="{{ t.id }}" href="{{ path('private_user_language_edit', {'id': t.id }) }}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="delete-link delete-language" data-id="{{ t.id }}" data-entity="language" href="{{ path('private_user_language_delete', {'id': t.id }) }}">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
        {% endif %}
    </tr>
{% endfor %}
<tr>

</tr>
</tbody>

{{ include('GreibitBioBundle:Default:bottom_of_table.html.twig') }}

