{% use "form_div_layout.html.twig" %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block button_row %}
    {% spaceless %}
        <div class="form-group">
                {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock button_row %}

{% block hidden_row %}
    {% spaceless %}
    <div class="form-group">
        {{ form_widget(form) }}
    </div>
    {% endspaceless %}
{% endblock hidden_row %}

{% block form_widget_compound %}
    {% spaceless %}
        <table {{ block('widget_container_attributes') }}>
            {% if form.parent is empty and errors|length > 0 %}
                <tr>
                    <td colspan="2">
                        {{ form_errors(form) }}
                    </td>
                </tr>
            {% endif %}
            {{ block('form_rows') }}
            {{ form_rest(form) }}
        </table>
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block date_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        {% else %}
            <div class="form-group" {{ block('widget_container_attributes') }}>
                {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year, {'attr': {'class': 'form-select'}}),
                '{{ month }}': form_widget(form.month, {'attr': {'class': 'form-select'}}),
                '{{ day }}':   form_widget(form.day, {'attr': {'class': 'form-select'}}),
                })|raw }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock date_widget %}

{% block widget_attributes %}
    {% spaceless %}
        id="{{ id }}" name="{{ full_name }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
        {% for attrname, attrvalue in attr %}
            {% if attrname in ['placeholder', 'title'] %}
                {{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
            {% elseif attrname in ['class'] and 'select2' not in attrvalue %}
                {{ attrname }}="{{ attrvalue }} form-control"
            {% else %}
                {{ attrname }}="{{ attrvalue }}"
            {% endif %}
        {% endfor %}
        {% if 'class' not in attr|keys %}
            class="form-control"
        {% endif %}
    {% endspaceless %}
{% endblock widget_attributes %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock form_widget_simple %}
