{% extends "GreibitBioBundle::layout.html.twig" %}
{% block pagetitle %}{{ user.username }}{% endblock %}
{% block content %}
<h1>User edit</h1>

<form action="{{ path('private_user_update') }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

{% endblock %}
