<h1>User list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
    {% for document in documents %}
        <tr>
            <td><a href="{{ path('public_user_show', { 'username': document.username }) }}">{{ document.username }}</a></td>
            <td>{{ document.email }}</td>
            <td>{{ document.id }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('public_user_show', { 'username': document.username }) }}">show</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>