{% extends "GreibitBioBundle::layout.html.twig" %}
{% block pagetitle %}{{ user.username }}{% endblock %}
{% block content %}
<div class="row user-info" data-user_id="{{ user.id }}">
    <div class="col-md-5"><img src="{{ asset("img/people1.jpg") }}" alt="User Photo" class="img-thumbnail"></div>
    <div class="col-md-7">
        <h2>{{ user.name }} {{ user.surname }}</h2>
        <p><span class="glyphicon glyphicon-envelope"></span>&nbsp;{{ user.email }}</p>
        <p><span class="glyphicon glyphicon-earphone"></span>&nbsp;{{ user.telephone }}</p>
        <p><span class="glyphicon glyphicon-home"></span>&nbsp;
            {{ user.address }} <br> {{ user.locality }}, {{ user.city }}
        </p>
    </div>
</div>
    {% if user.trainings is defined and user.trainings|length > 0 %}
        {{ include('GreibitBioBundle:Training:data.html.twig', {'trainings' : user.trainings }) }}
    {% endif %}

    {% if user.knowledges is defined and user.knowledges|length > 0 %}
        {{ include('GreibitBioBundle:Knowledge:data.html.twig', {'knowledges' : user.knowledges }) }}
    {% endif %}

        {{ include('GreibitBioBundle:Experience:data.html.twig', {'experiences' : user.experiences }) }}

    {% if user.languages is defined and user.languages|length > 0 %}
        {{ include('GreibitBioBundle:Language:data.html.twig', {'languages' : user.languages }) }}
    {% endif %}
    {% if user.certifications is defined and user.certifications|length > 0 %}
        {{ include('GreibitBioBundle:Certification:data.html.twig', {'certifications' : user.certifications }) }}
    {% endif %}
    {% if user.otherinfos is defined and user.otherinfos|length > 0 %}
        {{ include('GreibitBioBundle:OtherInfo:data.html.twig', {'otherinfos' : user.otherinfos }) }}
    {% endif %}
{% endblock %}
