<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Greibit">

    <title>{% block title %}Greibio!{% endblock %}</title>
    <meta name="description" content="Greibio: Tu curriculum Online">

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
    {#<!--<script src="../../docs-assets/js/respond.min.js"></script>-->#}
    <![endif]-->

    <link href="{{ asset('css/datepicker.css') }}" rel="stylesheet">
    <link href="{{ asset('select2/select2.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/flipload.min.css') }}" rel="stylesheet">

    <script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
</head>
<body>
    {% block body %}{% endblock %}


    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/noty/jquery.noty.js') }}"></script>
    <script src="{{ asset('js/noty/themes/default.js') }}"></script>
    <script src="{{ asset('js/noty/layouts/topCenter.js') }}"></script>

    <script src="{{ asset('js/flipload.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script src="{{ asset('js/typeahead.min.js') }}"></script>
    <script src="{{ asset('select2/select2.min.js') }}"></script>
    <script src="{{ asset('select2/select2_locale_es.js') }}"></script>
    <script src="{{ asset('js/loading.js') }}"></script>
    <script src="{{ asset('js/notification.js') }}"></script>
    <script src="{{ asset('js/greibio.js') }}"></script>

</body>
</html>