<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Greibit">

    <title>{% block title %}Greibio - Login{% endblock %}</title>
    <meta name="description" content="Greibio: Tu curriculum Online">

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
    {#<!--<script src="../../docs-assets/js/respond.min.js"></script>-->#}
    <![endif]-->

    <link href="{{ asset('css/login_style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/flipload.min.css') }}" rel="stylesheet">
</head>
<body>
    {% block body %}{% endblock %}

    <script src="{{ asset('js/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>

    <script src="{{ asset('js/flipload.min.js') }}"></script>
</body>
</html>