{{ include('GreibitBioBundle:Default:top_of_table.html.twig', {"header" : "Knowledge", "entity" : "knowledge"}) }}

<thead>
<tr>
    <th>Título</th>
</tr>
</thead>
<tbody>
{% for t in knowledges %}
    <tr class="knowledge-line">
        <td>{{ t.name }}</td>
        {% if app.user == user %}
            <td>
                <a class="edit-link edit-knowledge" data-id="{{ t.id }}" href="{{ path('private_user_knowledge_edit', {'id': t.id }) }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="delete-link delete-knowledge" data-id="{{ t.id }}" data-entity="knowledge" href="{{ path('private_user_knowledge_delete', {'id': t.id }) }}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        {% endif %}
    </tr>
{% endfor %}
<tr>

</tr>
</tbody>

{{ include('GreibitBioBundle:Default:bottom_of_table.html.twig') }}