    <form id="ajax_edit_knowledge_form" class="modal-form" data-entity="knowledge" action="{{ path('private_user_knowledge_update', { 'id': document.id, 'user_id': user.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ include('GreibitBioBundle:Knowledge:form.html.twig', {"form" : edit_form}) }}
        <button class="btn" type="submit">Edit</button>
    </form>