    <form id="ajax_new_knowledge_form" class="modal-form" data-entity="knowledge" action="{{ path('private_user_knowledge_create') }}" method="post" {{ form_enctype(form) }}>
        {{ include('GreibitBioBundle:Knowledge:form.html.twig', {"form" : form}) }}
        <button class="btn" type="submit">Create</button>
    </form>