{{ include('GreibitBioBundle:Default:top_of_table.html.twig', {"header" : "OtherInfo"}) }}

<thead>
<tr>
    <th>Name</th>
</tr>
</thead>
<tbody>
{% for t in otherinfos %}
    <tr class="otherinfo-line">
        <td >{{ t.name }}</td>
        {% if app.user == user %}
        <td>
            <a class="edit-link edit-otherinfo" data-id="{{ t.id }}" href="{{ path('private_user_otherinfo_edit', {'id': t.id }) }}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="delete-link delete-otherinfo" data-id="{{ t.id }}" data-entity="otherinfo" href="{{ path('private_user_otherinfo_delete', {'id': t.id }) }}">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </td>
        {% endif %}
    </tr>
{% endfor %}
<tr>

</tr>
</tbody>

{{ include('GreibitBioBundle:Default:bottom_of_table.html.twig') }}

