    <form id="ajax_edit_otherinfo_form" class="modal-form" data-entity="otherinfo" action="{{ path('private_user_otherinfo_update', { 'id': document.id, 'user_id': user.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ include('GreibitBioBundle:OtherInfo:form.html.twig', {"form" : edit_form}) }}
        <button class="btn" type="submit">Edit</button>
    </form>