    <form id="ajax_new_otherinfo_form" class="modal-form" data-entity="otherinfo" action="{{ path('private_user_otherinfo_create') }}" method="post" {{ form_enctype(form) }}>
        {{ include('GreibitBioBundle:OtherInfo:form.html.twig', {"form" : form}) }}
        <button class="btn" type="submit">Create</button>
    </form>