{% extends "::base_login.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="login-wrapper col-md-12">
        <div class="row">
            <div id="login-container" class="col-md-3 col-md-offset-1">
                <div class="box">
                    <h2 class="box-heading">Log In</h2>
                    <form class="login-box" action="{{ path("fos_user_security_check") }}" method="post">

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" required="required" autofocus />
                        <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required="required" />
                        <label class="checkbox">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        </label>
                        {% if error %}
                            <div class="alert alert-danger">{{ error|trans }}</div>
                        {% endif %}
                        <button name="Login" class="btn btn-primary btn-block" type="submit">Sign in</button>
                    </form>
                </div>
            </div>

            <div id="info-container" class="col-md-7">
                <div class="box">
                    <h2 class="box-heading">Advantages</h2>

                </div>
            </div>
        </div>

    </div>
{% endblock body %}
