<h1>Company list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Locality</th>
            <th>Region</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for document in documents %}
        <tr>
            <td><a href="{{ path('company_show', { 'id': document.id }) }}">{{ document.id }}</a></td>
            <td>{{ document.name }}</td>
            <td>{{ document.email }}</td>
            <td>{{ document.address }}</td>
            <td>{{ document.locality }}</td>
            <td>{{ document.region }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('company_show', { 'id': document.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('company_edit', { 'id': document.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('company_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
