<h1>Company</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ document.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ document.name }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ document.email }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ document.address }}</td>
        </tr>
        <tr>
            <th>Locality</th>
            <td>{{ document.locality }}</td>
        </tr>
        <tr>
            <th>Region</th>
            <td>{{ document.region }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('company') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('company_edit', { 'id': document.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('company_delete', { 'id': document.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
