body{
    background-color: #E6E6DC;
}

.sidebar {
    position: fixed;
    height: 100%;
    background: #E6E6DC;
    -webkit-box-shadow: -3px 0px 3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: -3px 0px 3px rgba(0, 0, 0, 0.1) inset;
    box-shadow: -3px 0px 3px rgba(0, 0, 0, 0.1) inset;
    border-right: 1px solid #b8b8b8;

}
.section-title {
    color: #00628B;
    font-style: italic;
    border-bottom: 1px solid #b8b8b8;
}

.content{
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #FFF;
    padding: 30px;
    -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #b8b8b8;
}
.glyphicon{
    color: #00628B;
}
.modal-content{
    padding: 20px;
}
.form-select{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.success-alert{
    background: green !important;
    border: 1px solid red;
}

#icon_loading{
    background-color: white;
    opacity: .9;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 999;
    display:none;
}

a.new-form{
    font-size: .6em;
}

.row.flipload-front{
    /*Para que no se aumente el margin de los rows*/
    padding-left:15px;
    padding-right:15px;
}

.select2{
    width: 100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}
.twitter-typeahead .tt-hint {
    display: block;
    height: 34px;
    padding: 8px 12px;
    font-size: 14px;
    color: #cccccc;
    line-height: 1.428571429;
    border: 1px solid transparent;
}

.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}