{{ include('GreibitBioBundle:Default:top_of_table.html.twig', {"header" : "Certification"}) }}

<thead>
<tr>
    <th>Name</th>
    <th>Centro</th>
</tr>
</thead>
<tbody>
{% for t in certifications %}
    <tr class="certification-line">
        <td>{{ t.name }}</td>
        <td>{{ t.academy.name }}</td>
        {% if app.user == user %}
            <td>
                <a class="edit-link edit-certification" data-id="{{ t.id }}" href="{{ path('private_user_certification_edit', {'id': t.id }) }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="delete-link delete-certification" data-id="{{ t.id }}" data-entity="certification" href="{{ path('private_user_certification_delete', {'id': t.id }) }}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        {% endif %}
    </tr>
{% endfor %}
<tr>

</tr>
</tbody>

{{ include('GreibitBioBundle:Default:bottom_of_table.html.twig') }}

