<header>
    <h3 class="section-title">{{ header }}
        {% if app.user == user %}
        <a class="new-form" id="new-{{ header|lower }}" class="" href="{{ path('private_user_'~header|lower~'_new', { 'user_id': user.id }) }}">
            <span class="glyphicon glyphicon-star"></span>
        </a>
        {% endif %}
    </h3>
</header>