    <!-- #left -->
    <div id="left">
        <!-- .user-media -->
        <div class="media user-media hidden-phone">
            <a href="blank.html" class="user-link">
                <img src="assets/img/user.gif" alt="User" class="media-object img-polaroid user-img">
                <span class="label user-label">16</span>
            </a>

            <div class="media-body hidden-tablet">
                <h5 class="media-heading">Charles</h5>
                <ul class="unstyled user-info">
                    <li><a href="blank.html">Administrator</a></li>
                    <li>Last Access : <br/>
                        <small><i class="icon-calendar"></i> 16 Mar 16:32</small>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.user-media -->
        <!-- #menu -->
        <ul id="menu" class="unstyled accordion collapse in"><li><a href="index.html"><i class="icon-dashboard icon-large"></i> Dashboard</a></li>
            <li class="accordion-group">
                <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#component-nav">
                    <i class="icon-tasks icon-large"></i> Components <span
                            class="label label-inverse pull-right">2</span>
                </a>
                <ul class="collapse " id="component-nav">
                    <li><a href="icon.html"><i class="icon-angle-right"></i> Icon & Button</a></li>
                    <li><a href="progress.html"><i class="icon-angle-right"></i> Progress</a></li>
                </ul>
            </li>
            <li class="accordion-group">
                <a data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed"
                   data-target="#form-nav">
                    <i class="icon-pencil icon-large"></i> Forms <span class="label label-inverse pull-right">4</span>
                </a>
                <ul class="collapse" id="form-nav">
                    <li><a href="form-general.html"><i class="icon-angle-right"></i> General</a></li>
                    <li><a href="form-validation.html"><i class="icon-angle-right"></i> Validation</a></li>
                    <li><a href="form-wysiwyg.html"><i class="icon-angle-right"></i> WYSIWYG</a></li>
                    <li><a href="form-wizard.html"><i class="icon-angle-right"></i> Wizard &amp; File Upload</a></li>
                </ul>
            </li>
            <li><a href="table.html"><i class="icon-table icon-large"></i> Tables</a></li>
            <li><a href="file.html"><i class="icon-file icon-large"></i> File Manager</a></li>
            <li><a href="maps.html"><i class="icon-map-marker icon-large"></i> Maps</a></li>
            <li><a href="calendar.html"><i class="icon-calendar icon-large"></i> Calendar</a></li>

            <li class="active"><a href="blank.html"><i class="icon-check-empty icon-large"></i> Blank Page</a></li>
            <li><a href="login.html"><i class="icon-signin icon-large"></i> Login Page</a></li>
        </ul>
        <!-- /#menu -->

    </div>
    <!-- /#left -->