<!-- .row-fluid -->
<div class="row" id="{{ header|lower }}-data" data-href="{{ path('get_user_'~header|lower~'s', {'username': user.username }) }}">
    <!-- .span12 -->
    <div class="col-md-12">
        {{ include('GreibitBioBundle:Default:section_header.html.twig', {"header" : header}) }}
            <div id="{{ header }}Table" class="body collapse in">
                <table class="table">
