<div class="row" id="training-data" data-href="{{ path('get_user_trainings', {'username': user.username }) }}">
    <div class="col-md-12">
        {{ include('GreibitBioBundle:Default:section_header.html.twig', {"header" : "Training"}) }}
        {% for t in trainings %}
        <div class="row training-line" >
            <div class="col-md-7">
                <h4>{{ t.title }}</h4>
                <p>
                    {% if t.academy != null %}
                        {{ t.academy.name }}
                    {% endif %}
                </p>
            </div>
            <div class="col-md-4">
                From {{ t.startDate|date("Y") }} to {{ t.finishDate|date("Y") }}
            </div>
            {% if app.user == user %}
                <div class="col-md-1">
                    <a class="edit-link edit-training" data-id="{{ t.id }}" href="{{ path('private_user_training_edit', {'id': t.id}) }}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="delete-link delete-training" data-id="{{ t.id }}" data-entity="training" href="{{ path('private_user_training_delete', {'id': t.id}) }}">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

