    <form id="ajax_edit_training_form" class="modal-form" data-entity="training" action="{{ path('private_user_training_update', { 'id': document.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ include('GreibitBioBundle:Training:form.html.twig', {"form" : edit_form}) }}
        <button class="btn" type="submit">Edit</button>
    </form>
