    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
    </div>
    <div class="form-group">
        {{ form_label(form.academy) }}
        {{ form_widget(form.academy) }}
        <script>
            $(".select2").select2();
        </script>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                {{ form_label(form.startDate) }}
                {{ form_widget(form.startDate) }}
            </div>
            <div class="col-md-6">
                {{ form_label(form.finishDate) }}
                {{ form_widget(form.finishDate) }}
            </div>
        </div>
    </div>
    {{ form_rest(form) }}

