<form id="ajax_new_training_form" class="modal-form" data-entity="training" action="{{ path('private_user_training_create') }}" method="post" {{ form_enctype(form) }}>
    {{ include('GreibitBioBundle:Training:form.html.twig', {"form" : form}) }}
    <button class="btn" type="submit">Create</button>
</form>