{% extends "::base.html.twig" %}
{% block body %}
{{ include('GreibitBioBundle:Default:navbar.html.twig') }}
<div class="col-md-8 col-md-offset-2 content">
        {% block content %}{% endblock %}
</div>

    <div class="modal fade" id="modalWindow" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}